body{
    background:#f3f5f7;
    font-family:Arial;
}

.container{
    width:700px;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0px 0px 20px lightgray;
    text-align:center;
}

h1{

    font-family:Algrian;

    color:#0b74dc;
}

button{
    font-family:Times New Roman;
    padding:12px 25px;
    border:none;
    background:#3498db;
    color:rgb(241, 247, 242);
    border-radius:8px;
    cursor:pointer;
    font-size:18px;
}

button:hover{
    background:#2980b9;
}

img{
    margin-top:20px;
    border-radius:15px;
    max-width:500px;
}

h2{
    color:rgb(14, 238, 14);
}

h3{
    color:#444;
}